<!-- if문을 사용해서 mode에 따라 문구 변경 -->
<h1>[{{title}}] 글 {{#if (eq mode "create")}}작성{{else}}수정{{/if}}</h1>
<div>
  <!-- if문을 사용해서 mode에 따라 URL 변경 -->
  <form name="boardForm" method="post" {{#if (eq mode "create" )}}action="/write" {{else}}action="/modify" {{/if}}>
    <!-- if문을 사용해서 수정 모드일 때는 id값을 router로 전송  -->
    {{#if (eq mode "modify")}}
    <input type="hidden" name="id" value="{{post._id}}" />
    {{/if}}

    <!-- 수정모드면 제목을 넣어줌.  -->
    <div>
      <label>제목</label>
      <input type="text" name="title" placeholder="제목을 넣어주세요" value="{{post.title}}" />
    </div>

    <!-- 수정모드면 본문에 내용을 채워줌. -->
    <div>
      <label>키워드를 입력하세요</label><br />
      <textarea placeholder="키워드" name="keyword" cols="50" rows="10">{{post.keyword}}</textarea>
      <br />
      <!-- 버튼영역 -->
      <div>
        <button type="submit">저장</button>
        <button type="button" onclick="location.href='/'">취소</button>
      </div>
  </form>
</div>